:root {
  --app-background: rgb(54, 57, 63);
  --header-background: rgb(43, 45, 49);
  --footer-background: rgb(35, 36, 40);
  --code-background: rgb(43, 45, 49);

  --font-color: rgb(219, 222, 225);
  --code-color: rgb(49, 51, 56);
  --link-color: rgb(0, 168, 252);
  --link-visited-color: rgb(0, 168, 252);

  --button-background: rgb(88, 101, 242);
  --button-background-hover: rgb(71, 82, 196);
  --button-font-color: rgb(255, 255, 255);

  --wb-msg-fonts-main: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --theme-dark-preview: rgb(54, 57, 63);
  --theme-light-preview: rgb(255, 255, 255);
  --theme-under-the-sea-preview: rgb(18, 26, 22);
}

/* #region fonts */
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/gg-sans-normal-400.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/gg-sans-normal-500.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/gg-sans-normal-600.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/gg-sans-normal-700.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 800;
  src: url("/src/assets/fonts/gg-sans-normal-800.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/gg-sans-italic-400.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 500;
  src: url("/src/assets/fonts/gg-sans-italic-500.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 600;
  src: url("/src/assets/fonts/gg-sans-italic-600.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 700;
  src: url("/src/assets/fonts/gg-sans-italic-700.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 800;
  src: url("/src/assets/fonts/gg-sans-italic-800.woff2") format("woff2");
}

/* #endregion */

/* #region theme-light */

@media screen and (prefers-color-scheme: light) {
  html.theme-sync {
    --app-background: rgb(255, 255, 255);
    --header-background: rgb(242, 243, 245);
    --footer-background: rgb(235, 237, 239);
    --code-background: rgb(242, 243, 245);

    --font-color: rgb(49, 51, 56);
    --link-color: rgb(0, 108, 231);
    --link-visited-color: rgb(0, 108, 231);
  }

  html.theme-sync header .title img {
    filter: invert(0);
  }

  html.theme-sync .wb-msg-t-cviZnF {
    --wb-msg-colors-primaryOpacity10: rgba(49, 51, 56, 0.1);
    --wb-msg-colors-primaryOpacity20: rgba(49, 51, 56, 0.2);
    --wb-msg-colors-primaryOpacity30: rgba(49, 51, 56, 0.3);
    --wb-msg-colors-primaryOpacity50: rgba(49, 51, 56, 0.5);
    --wb-msg-colors-primaryOpacity60: rgba(49, 51, 56, 0.6);
    --wb-msg-colors-primaryOpacity80: rgba(49, 51, 56, 0.8);
    --wb-msg-colors-primaryOpacity100: rgba(49, 51, 56, 1.0);
  }

  html.theme-sync .wb-msg-c-md-inline-code-wb {
    --wb-msg-colors-primaryOpacity80: rgb(49, 51, 56);
    --wb-msg-colors-backgroundSecondary: rgb(242, 243, 245);
    color: var(--wb-msg-colors-primaryOpacity80);
  }

  html.theme-sync .wb-msg-c-md-code-block-wb {
    --wb-msg-colors-backgroundSecondary: rgb(242, 243, 245);
    --wb-msg-colors-backgroundTertiary: rgb(227, 229, 232);
    --wb-msg-colors-interactiveNormal: rgb(49, 51, 56);
  }

  html.theme-sync .wb-msg-c-chat-tag-wb {
    --wb-msg-colors-primaryOpacity100: rgba(255, 255, 255, 1.0);
  }

  html.theme-sync .wb-msg-c-mention-wb {
    --wb-msg-colors-mentionForeground: rgb(88, 101, 242);
    --wb-msg-colors-mentionBackground: rgba(88, 101, 242, 0.15);
    --wb-msg-colors-mentionBackgroundHover: rgb(88, 101, 242);
  }

  html.theme-sync .wb-msg-c-mention-wb:hover {
    --wb-msg-colors-mentionForeground: rgb(219, 222, 225);
  }

  html.theme-sync .wb-msg-c-embed-wb {
    --wb-msg-colors-backgroundSecondary: rgb(242, 243, 245);
  }

  html.theme-sync .wb-msg-c-embed-description-wb,
  html.theme-sync .wb-msg-c-embed-footer-wb {
    --wb-msg-colors-interactiveNormal: rgb(49, 51, 56);
  }
}

html.theme-light {
  --app-background: rgb(255, 255, 255);
  --header-background: rgb(242, 243, 245);
  --footer-background: rgb(235, 237, 239);
  --code-background: rgb(242, 243, 245);

  --font-color: rgb(49, 51, 56);
  --link-color: rgb(0, 108, 231);
  --link-visited-color: rgb(0, 108, 231);
}

html.theme-light header .title img {
  filter: invert(0);
}

html.theme-light .wb-msg-t-cviZnF {
  --wb-msg-colors-primaryOpacity10: rgba(49, 51, 56, 0.1);
  --wb-msg-colors-primaryOpacity20: rgba(49, 51, 56, 0.2);
  --wb-msg-colors-primaryOpacity30: rgba(49, 51, 56, 0.3);
  --wb-msg-colors-primaryOpacity50: rgba(49, 51, 56, 0.5);
  --wb-msg-colors-primaryOpacity60: rgba(49, 51, 56, 0.6);
  --wb-msg-colors-primaryOpacity80: rgba(49, 51, 56, 0.8);
  --wb-msg-colors-primaryOpacity100: rgba(49, 51, 56, 1.0);
}

html.theme-light .wb-msg-c-md-inline-code-wb {
  --wb-msg-colors-primaryOpacity80: rgb(49, 51, 56);
  --wb-msg-colors-backgroundSecondary: rgb(242, 243, 245);
  color: var(--wb-msg-colors-primaryOpacity80);
}

html.theme-light .wb-msg-c-md-code-block-wb {
  --wb-msg-colors-backgroundSecondary: rgb(242, 243, 245);
  --wb-msg-colors-backgroundTertiary: rgb(227, 229, 232);
  --wb-msg-colors-interactiveNormal: rgb(49, 51, 56);
}

html.theme-light .wb-msg-c-chat-tag-wb {
  --wb-msg-colors-primaryOpacity100: rgba(255, 255, 255, 1.0);
}

html.theme-light .wb-msg-c-mention-wb {
  --wb-msg-colors-mentionForeground: rgb(88, 101, 242);
  --wb-msg-colors-mentionBackground: rgba(88, 101, 242, 0.15);
  --wb-msg-colors-mentionBackgroundHover: rgb(88, 101, 242);
}

html.theme-light .wb-msg-c-mention-wb:hover {
  --wb-msg-colors-mentionForeground: rgb(219, 222, 225);
}

html.theme-light .wb-msg-c-embed-wb {
  --wb-msg-colors-backgroundSecondary: rgb(242, 243, 245);
}

html.theme-light .wb-msg-c-embed-description-wb,
html.theme-light .wb-msg-c-embed-footer-wb {
  --wb-msg-colors-interactiveNormal: rgb(49, 51, 56);
}

/* #endregion */

html.theme-under-the-sea {
  --app-background: rgb(18, 26, 22);
  --header-background: rgb(31, 39, 38);
  --footer-background: rgb(16, 20, 19);
}

* {
  transition: all 170ms ease;
}

body {
  margin: 0;
  background-color: var(--app-background);
  font-family: var(--wb-msg-fonts-main);
  color: var(--font-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
  padding: 1em;
}

header .title {
  display: flex;
  align-items: center;
}

header .title h1 {
  margin: 0;
  font-size: 1.5em;
  color: var(--font-color);
}

header .title img {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  filter: invert(1);
  transition: filter 170ms ease;
}

header .theme-switch {
  display: flex;
  align-items: center;
}

header .theme-switch .theme-preview-swatch {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: linear-gradient(-45deg, var(--theme-dark-preview) 0% 50%, var(--theme-light-preview) 50% 100%);
  border: 1px solid var(--font-color);
  margin-right: 0.5em;
  cursor: pointer;
}

button {
  background-color: var(--button-background);
  color: var(--button-font-color);
  border: none;
  border-radius: 6px;
  padding: 0.5em;
  cursor: pointer;
  font-family: var(--wb-msg-fonts-main);
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.5em 0.75em;
  transition: background-color 170ms ease, color 170ms ease;
}

header .theme-list {
  display: flex;
  position: absolute;
  top: 4em;
  right: 0.5em;
  background-color: var(--header-background);
  border: 1px solid var(--footer-background);
  border-radius: 6px;
  padding: 1em;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}

header .theme-list.show {
  opacity: 1;
  pointer-events: all;
}

header .theme-list .theme-item {
  display: flex;
  flex: 1;
  gap: 0.25em;
}

header .theme-list button {
  flex-grow: 1;
}

button:hover {
  background-color: var(--button-background-hover);
}

main {
  flex: 1;
}

.info-layout {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.info-layout code {
  background-color: var(--code-background);
  color: var(--font-color);
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-size: 1.2em;
}

.info-layout p {
  line-height: 1.5;
  font-size: 1.2em;
}

footer {
  background-color: var(--footer-background);
  padding: 1em;
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}

.meta-info {
  background-color: var(--footer-background);
  padding: 1em;
  display: flex;
  flex: 1;
  gap: 2em;
  flex-wrap: wrap;
}

.meta-info__content {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.meta-info__channel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta-info__icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--code-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta-info__icon img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.meta-info h2 {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 0.25em;
}

.log-container u {
  text-underline-offset: 3px;
}

.wb-msg-c-message-group-wb {
  margin: 1em 0;
}

.wb-msg-c-bjtwuk {
  --wb-msg-fonts-main: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wb-msg-c-mention-wb {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
}
